[Unit]
Description=node-exporter Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/node
ExecStart=/node/node_exporter-1.8.1.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target