[Unit]
Description=node-exporter Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/node
ExecStart=/node/

[Install]
WantedBy=multi-user.target