[Unit]
Description=prometheus Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/prometheus
ExecStart=/opt/prometheus/prometheus-2.53.0.linux-amd64/prometheus

[Install]
WantedBy=multi-user.target