[Unit]
Description=Prometheus Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt
WorkingDirectory=/opt

[Install]
WantedBy=multi-user.target